<div class="container-xxl">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Clientes de CMV</h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pt-5 my-8">
    <div class="">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-end mb-5">
                    <div class="col-lg-3">
                        <input #search id="search" type="text" class="form-control " placeholder="Buscar" aria-label="Search" aria-describedby="basic-addon1" />
                    </div>
                </div>
                <div class="">
                    <h6 class="card-title">Clientes</h6>
                    <div class="table-responsive">
                        <ngx-datatable [scrollbarH]="true"  class="bootstrap" [rows]="clientes" [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto">
                            <ngx-datatable-column name="Id" [maxWidth]="70" prop="id_cliente"></ngx-datatable-column>
                            <ngx-datatable-column name="Nombre" prop="nombre"></ngx-datatable-column>
                            <ngx-datatable-column name="Apellido Paterno" prop="apellido_paterno"></ngx-datatable-column>
                            <ngx-datatable-column name="Apellido Materno" prop="apellido_materno"></ngx-datatable-column>
                            <ngx-datatable-column name="RFC" prop="rfc" [maxWidth]="130"></ngx-datatable-column>
                            <ngx-datatable-column name="CURP" [maxWidth]="190" prop="curp"></ngx-datatable-column>
                            <ngx-datatable-column name="Fecha de Alta" [maxWidth]="200" prop="fecha_alta">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value | date: 'dd/MM/yyyy HH:mm:ss'}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [minWidth]="320" name="Acciones">
                                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                    <div style="display: flex; grid-gap: 10px; ">
                                        <button type="button" (click)="Cuentas_Modal(row.id_cliente)" class="btn btn-info ">Cuentas</button>
                                        <button type="button" (click)="Actualizar_Modal(row)" class="btn btn-warning ">Editar</button>
                                        <button type="button " (click)="eliminar_modal(row)" class="btn btn-danger ">Eliminar</button>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ACTUALIZAR -->
<ng-template #actualizarModal let-modal>
    <div class="modal-header ">
        <h5 class="modal-title" id="exampleModalLabel ">Editar</h5>
        <button type="button " class="close " (click)="modal.close( 'by: close icon') " aria-label="Close ">
                <span aria-hidden="true ">&times;</span>
            </button>
    </div>
    <div class="modal-body ">
        <div class="container">
            <form [formGroup]="actualizarCliente" (ngSubmit)="actualizar()">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" formControlName="nombre" class="form-control" required>
                    <p class="text-danger mt-1" *ngIf="actualizarCliente.get('nombre')?.errors">Requerido</p>
                </div>
                <div class="form-group">
                    <label>Apellido Paterno</label>
                    <input type="text" formControlName="apellido_paterno" class="form-control" required>
                    <p class="text-danger mt-1" *ngIf="actualizarCliente.get('apellido_paterno')?.errors">Requerido</p>
                </div>
            
                <div class="form-group">
                    <label>Apellido Materno</label>
                    <input type="text" formControlName="apellido_materno" class="form-control" required placeholder="ejemplo@ejemplo.com">
                    <p class="text-danger mt-1" *ngIf="actualizarCliente.get('apellido_materno')?.errors">Requerido</p>
                </div>
                <div class="form-group">
                    <label>RFC (homoclave opcional)</label>
                    <input type="text" formControlName="rfc" class="form-control" required>
                    <p class="text-danger mt-1" *ngIf="actualizarCliente.get('rfc')?.errors">Requerido o el formato esta mal</p>
                </div>
                <div class="form-group">
                    <label>CURP</label>
                    <input type="text" formControlName="curp" class="form-control" required>
                    <p class="text-danger mt-1" *ngIf="actualizarCliente.get('curp')?.errors">Requerido o el formato esta mal</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Cerrar</button>
                    <button type="submit" class="btn btn-primary" [disabled]="actualizarCliente.invalid">Continuar</button>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<!-- MODAL CUENTAS -->
<ng-template #cuentasModal let-modal>
    <div class="modal-header ">
        <h5 class="modal-title " id="exampleModalLabel ">Cuentas de {{cliente_cuentas[0].nombre}}</h5>
        <button type="button " class="close " (click)="modal.close( 'by: close icon') " aria-label="Close ">
            <span aria-hidden="true ">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <div class="container">
            <ol class="list-group list-group-numbered">
            <div *ngFor="let cuenta of cliente_cuentas">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">{{cuenta.nombre_cuenta}}</div>
                            <p>Saldo: {{cuenta.saldo_actual | currency:'$' }} </p>
                            <p>Fecha de  contratacion: {{cuenta.fecha_contratacion | date: 'dd/MM/yyyy HH:mm:ss'}} </p>
                            <p>Fecha del ultimo movimiento: {{cuenta.fecha_ultimo_movimiento | date: 'dd/MM/yyyy HH:mm:ss'}} </p>
                      </div>
                      <span class="badge bg-secondary">id cuenta: {{cuenta.id_cliente_cuenta}}</span>
                    </li>
                </div>
            </ol>
        </div>
    </div>
</ng-template>